:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --hero-footer-color: #2f303a;
  --general-background-color: #ffffff;

  --fill-color: #afb1b8;
}

body {
  background-color: var(--general-background-color);
  font-family: Roboto, sans-serif;
  margin: 0;
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Коррекция маркированного списка */
li {
  list-style-type: none; /* Убираем маркеры */
}

ul {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

/* Спрятанные заголовки */
.hidden-heading {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Коррекция ссылок */
a {
  text-decoration: none;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.header-content,
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item a {
  padding: 32px 0px;
  display: block;
}

.flex-header .webstudio {
  margin-right: 93px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-item {
  margin-right: 50px;
}

.header-contacts + .header-contacts {
  margin-left: 30px;
}

.top-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope,
.smartphone {
  margin-right: 10px;
}

.header-fill {
  fill: #757575;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .header-fill,
.link:focus .header-fill {
  fill: var(--accent-color);
  outline: none;
}

.header-content .link.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;

  position: absolute;
  left: 0;
  bottom: -1px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.left-part {
  color: var(--accent-color);
}

.right-part {
  color: var(--primary-text-color);
}

.link.nav {
  display: inline-block;
}

.nav,
.top-contacts {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.02em;
}

.link:visited {
  color: var(--primary-text-color);
}

.top-contacts {
  color: var(--secondary-text-color);
  padding: 32px 0px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  outline: none;
}

.top-contacts {
  color: var(--secondary-text-color);
}

/* Hero section */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-background {
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
}

.hero-div {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
}

.hero-text {
  color: var(--general-background-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 30px;
}

.button {
  background-color: var(--accent-color);

  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-transform: initial;

  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;

  display: block;
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Описание */
/* Чем мы занимаемся */

.description {
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.description-background {
  background-color: var(--general-background-color);
}

.description-item {
  width: 270px;
}

.description-bg {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.description-item + .description-item {
  margin-left: 30px;
}

.main-heading {
  color: var(--primary-text-color);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}

.description-img + .description-img {
  margin-left: 30px;
}

.description-img {
  position: relative;
  display: block;
}

.clarification {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 27px 5px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: rgba(47, 48, 58, 0.8);
}

.heading {
  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.section-text {
  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.reps {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: initial;

  margin-bottom: 10px;
}

/* Наша команда */

.primary-section div {
  padding-top: 0px;
  padding-bottom: 94px;
}

.secondary-section > div {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card + .card {
  margin-left: 30px;
}

.card {
  background-color: var(--general-background-color);
  width: 270px;
  text-align: center;
  vertical-align: middle;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.padding-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.social-division {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reps-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: var(--general-background-color);
  background-color: var(--general-background-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--fill-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.reps-contacts:not(:last-child) {
  margin-right: 10px;
}

.reps-contacts:hover,
.reps-contacts:focus {
  fill: currentColor;
  background-color: var(--accent-color);
  outline: none;
}

.secondary-background {
  background-color: var(--secondary-background-color);
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

/* Постоянные клиенты */

.clients-section {
  padding: 94px 0;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients {
  display: flex;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 90px;

  border: 1px solid var(--fill-color);
  border-radius: 4px;
  background-color: var(--general-background-color);
  color: var(--accent-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fill {
  fill: var(--fill-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover .fill,
.clients-link:focus .fill {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

/* Footer */
.footer {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.webstudio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  display: block;
}

.webstudio:focus,
.webstudio:hover {
  outline-color: var(--accent-color);
}

.footer-background {
  background-color: var(--hero-footer-color);
}

.footer-left {
  margin-right: 70px;
}

address {
  font-style: normal;
  margin-top: 0;
  margin-bottom: 9px;
  margin-left: 0px;
}

.white-part {
  color: var(--general-background-color);
}

.footer-logo {
  margin-bottom: 20px;
}

.physical-address {
  color: var(--general-background-color);
  margin: 0;
}

footer p,
footer a,
footer address {
  display: block;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:first-child {
  margin-bottom: 9px;
}

.join-us {
  margin: 0 0 20px;

  color: var(--general-background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-media {
  width: 206px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 93px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--general-background-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.subscription {
  display: flex;
  flex-direction: column;
}

.footer-form input {
  width: 358px;
  padding: 15px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-footer-color);
  color: rgba(255, 255, 255, 0.6);
  outline: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}

.footer-form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  padding: 10px 29px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border-style: none;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--general-background-color);
}

.footer-button > span {
  margin-right: 10px;
}

/* BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: var(--general-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.close-button:hover,
.close-button:focus {
  fill: currentColor;
}

/* Форма в модальном окне */

.modal-form {
  display: flex;
  flex-wrap: wrap;
}

.form-input {
  width: 100%;
  padding: 12px 41px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea {
  padding: 12px 16px;
  width: 100%;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field > div {
  position: relative;
}

.phone-input,
.person-input,
.email-input {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + svg {
  fill: currentColor;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-paragraph {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin: 0px 0px 12px;
}

.policy-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.check-label {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.policy-box {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkmark {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  background: url(../images/icon-unchecked.svg);
  background-origin: content-box;
  background-size: contain;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-box:checked ~ .checkmark {
  background: url(../images/checkmark.svg);
  background-origin: content-box;
  background-size: contain;
}

.policy-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: underline;

  color: var(--accent-color);
}

.modal-form {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
}

.form-field {
  width: 100%;
}

.form-field:first-of-type,
.form-field:nth-of-type(2),
.form-field:nth-of-type(3) {
  margin-bottom: 10px;
}

.form-field:nth-of-type(4) {
  margin-bottom: 20px;
}
.form-field:last-of-type {
  margin-bottom: 30px;
}

.modal-submit {
  padding: 10px 29px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  /* outline: none; */
  border-style: none;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--general-background-color);
}

/* Секция портфолио */

.portcard-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portcard-item:nth-child(3n) {
  margin-right: 0px;
}

.portcard-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-section {
  background-color: var(--general-background-color);
  margin-left: auto;
  margin-right: auto;
}

.portfolio-section > div {
  padding-top: 94px;
  padding-bottom: 94px;
}

.flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-button li + li {
  margin-left: 8px;
}

.portfolio-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
  margin-bottom: 50px;
  padding: 6px 22px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;

  display: inline-block;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.porthead {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: initial;

  margin-bottom: 4px;
}

.portcard-div {
  padding: 20px 24px 20px 24px;
  border-right: 1px solid#EEEEEE;
  border-bottom: 1px solid#EEEEEE;
  border-left: 1px solid#EEEEEE;
}

.portcard {
  display: block;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portcard-overlay {
  position: relative;
  overflow: hidden;
}

.portcard-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: linear;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}

.portcard:hover,
.portcard:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.portcard:hover .portcard-thumb,
.portcard:focus .portcard-thumb {
  opacity: 1;
  transform: translateY(0);
}

.porttext {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  color: var(--general-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: 1px solid transparent;
  outline: transparent;
}
