@mixin centeredFlex($flex: flex) {
  display: $flex;
  justify-content: center;
  align-items: center;
}

/* Анимация */
@mixin animated($transition-property) {
  transition-property: $transition-property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  padding: 94px 0;
  background-color: $general-background-color;
}

.clients__heading {
  color: $primary-text-color;

  font-size: 36px;
  font-weight: $bold;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}

.clients__logo {
  width: 170px;
  height: 90px;
}

.clients__logo:not(:last-child) {
  margin-right: 30px;
}

.clients__list {
  display: flex;
}

.clients__link {
  @include centeredFlex();
  width: 100%;
  height: 100%;

  border: 1px solid $fill-color;
  border-radius: 4px;
  background-color: $general-background-color;
  color: $accent-color;

  @include animated(border);
}

.clients__icon {
  fill: $fill-color;
  @include animated(fill);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid $accent-color;
  outline: none;
}
