/* Спрятанные заголовки */
%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin centeredFlex($flex: flex) {
  display: $flex;
  justify-content: center;
  align-items: center;
}

/* Анимация */
@mixin animated($transition-property) {
  transition-property: $transition-property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
  background-color: $general-background-color;
}

.description .container {
  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.description__header {
  @extend %visually-hidden;
}

.description__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.description__item {
  max-width: 450px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.description__bg {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  background-color: $secondary-background-color;
  border-radius: 4px;

  height: 120px;
  max-width: 450px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.description__item {
  @media screen and (min-width: 768px) {
    height: 245px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.description__item:last-child {
  @media screen and (max-width: 767px) {
    margin-bottom: 0px;
  }
}

.description__item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 30px;
  }
}

.description__item:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0px;
  }
}

.description__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.description__heading {
  color: $primary-text-color;

  font-size: 14px;
  font-weight: $bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.description__text {
  color: $secondary-text-color;

  font-size: 14px;
  font-weight: $normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
