.footer {
  font-size: 14px;
  font-weight: $normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $hero-footer-color;
}

.footer {
  &__container {
    @extend %container;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    @extend %logo;
    margin-bottom: 20px;
  }

  &__logo--left {
    color: $accent-color;
  }

  &__logo--right {
    color: $general-background-color;
  }

  &__logo:focus,
  &__logo:hover {
    outline-color: $accent-color;
  }

  &__left-block {
    width: auto;
    margin-right: 70px;
  }

  &__address {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 9px;
    margin-left: 0px;
  }

  &__address-text {
    color: $general-background-color;
    white-space: nowrap;

    margin: 0;
    display: block;
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    @extend %link;
  }

  &__contacts:first-child {
    margin-bottom: 9px;
  }

  &__block-heading {
    margin: 0 0 20px;

    color: $general-background-color;
    font-weight: $bold;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__middle-block {
    /* width: 206px; */
    display: flex;
    flex-wrap: wrap;
    margin-right: 90px;
  }

  &__social-list {
    @include centeredFlex();
  }

  &__social-item {
    @include centeredFlex();
  }

  &__social-item:not(:last-child) {
    margin-right: 10px;
  }

  &__social-link {
    @include centeredFlex();

    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    fill: $general-background-color;

    @include animated(background-color);
  }

  &__social-link:hover,
  &__social-link:focus {
    background-color: $accent-color;
    outline: none;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
  }

  &__input {
    width: 358px;
    padding: 15px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $hero-footer-color;
    color: rgba(255, 255, 255, 0.6);
    outline: none;

    font-weight: $normal;
    font-size: 16px;
    line-height: 1.25px;
  }

  &__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    padding: 10px 29px;
    @include centeredFlex(inline-flex);

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    /* outline: none; */
    border-style: none;

    text-align: center;
    font-weight: $bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $general-background-color;
  }

  &__button-name {
    margin-right: 10px;
  }
}
