%visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin centeredFlex($flex: flex) {
  display: $flex;
  justify-content: center;
  align-items: center;
}

/* Анимация */
@mixin animated($transition-property) {
  transition-property: $transition-property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// BACKDROP
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include animated(opacity);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  opacity: 0;
}

// MODAL
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  padding: 40px;

  background-color: $general-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  @include centeredFlex();

  background: $general-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  @include animated(fill);
  color: $accent-color;
}

.modal__button:hover,
.modal__button:focus {
  fill: currentColor;
  border: 2px solid $primary-text-color;
  outline: none;
}

.modal__header {
  @extend %visually-hidden;
}

.modal__paragraph {
  font-weight: $bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  margin: 0px 0px 12px;
}
