@mixin centeredFlex($flex: flex) {
  display: $flex;
  justify-content: center;
  align-items: center;
}

/* Анимация */
@mixin animated($transition-property) {
  transition-property: $transition-property;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.expertise {
  padding-top: 0px;
  padding-bottom: 94px;
  background-color: $general-background-color;
}

.expertise__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.expertise__heading {
  color: $primary-text-color;

  font-size: 36px;
  font-weight: $bold;
  line-height: 1.17;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  text-align: center;
}

.expertise__img:not(:last-child) {
  margin-right: 30px;
}

.expertise__img {
  position: relative;
}

.expertise__frame {
  @include centeredFlex();
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  min-height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.expertise__thumb {
  font-weight: $bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $general-background-color;

  text-transform: uppercase;
}
